PyYAML==3.12
boto==2.49.0
boto3==1.9.177
botocore==1.12.177
cachetools==3.1.1
certifi==2019.6.16
chardet==3.0.4
click==6.7
docutils==0.14
elasticsearch==7.0.2
elasticsearch-curator==5.7.6
google-api-core==1.13.0
google-auth==1.6.3
google-cloud-core==1.0.2
google-cloud-datastore==1.8.0
googleapis-common-protos==1.6.0
grpcio==1.21.1
idna==2.8
jmespath==0.9.4
protobuf==3.8.0
pyasn1==0.4.5
pyasn1-modules==0.2.5
python-dateutil==2.8.0
pytz==2019.1
requests==2.21.0
requests-aws4auth==0.9
rsa==4.0
s3transfer==0.2.1
six==1.12.0
urllib3==1.24.3
voluptuous==0.11.5
wheel==0.29.0
